#navegacao{
    display: flex;
    justify-content: space-evenly;
    background-color: #3f2700;
  /*  flex-wrap: wrap;*/
}

.column{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px;
}

.categoria{
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: white;
}

.subcategoria{
  display: none;
  padding: 0;
  margin: 0;
  background-color: #3f2700;
  list-style-type: none;
}

.nome-subcategoria{
  padding: 10px;
  list-style-type: none;
}

.item-subcategoria{
  display: none;
  margin: 0;
  padding: 0;
  background-color: #3f2700;
  list-style-type: none;
}

.nome-categoria{
  display: block;
  list-style-type: none;
}


.item-menu{
  background-color: #3f2700;
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s;
  transition: border-bottom 0.3s;
}

.item-menu:hover{
  border-bottom: 2px solid #ffa41b;
  background-color: #3f2700;
}

.item-menu a{
  text-decoration: none;
  color: greenyellow;
}