#navegacao{
    display: flex;
    justify-content: space-evenly;
  /*  flex-wrap: wrap;*/
}

.column{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #A0522D;
    margin: 5px;
}

.categoria{
  padding: 0;
  margin: 0;
  background-color: #6eb0d4;
  list-style-type: none;
}

.subcategoria{
  display: none;
  padding: 0;
  margin: 0;
  background-color: powderblue;
  list-style-type: none;
}

.item-subcategoria{
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-categoria{
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav .item{
  background-color:#c9f7ff;
  margin: 2px;
  border-bottom: 2px solid transparent;
  transition: background-color 0.8s;
  transition: border-bottom 0.8s;
}

nav .item:hover{
  border-bottom: 2px solid #001f3f;
  background-color: #a1ced7;
}

nav .item a{
  text-decoration: none;
  color: green;
} 

