header{
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background-color: rgb(221, 255, 0);
}

nav{
    display: flex;
    flex-direction: column;
}

#homeBar{
    background-color: #c7b9ac;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;

}

#logo{
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    transition: border-bottom 0.3s;
}

#logo:hover{
    border-bottom: 2px solid #ffa41b;
}

#homeSearch{
    display: flex;
}

#homeSearch input{
    width: 100%;
    height: 28px;
    padding: 7px 10px 10px 0;
    margin: 0;
    line-height: 15px;
    color: #111;
    background-color: #f5f5f5;
    text-indent: 8px;
    font-size: 16px;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#homeSearch input:focus{
    outline: 0;
}

#homeSearch button{
    background-color: #e5e5e5;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 0.3s;
}

#homeSearch button:hover{
    background-color: #d2d2d2;
    transition: background-color 0.3s;
}

#homeSearch button:active{
    background-color: #e5e5e5;
}

#login_cart{
    padding-top: 5px;
    padding-right: 20px;
}

#login_cart a{
    text-decoration: none;
    
}

#login{
    padding: 0;
    margin: 0;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s;
}

#login:hover{
    border-bottom: 2px solid #ffa41b;
}


#cart{
    padding: 0;
    margin: 0;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s;
}

#cart:hover{
    border-bottom: 2px solid #ffa41b;
}

