header{
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background-color: rgb(221, 255, 0);
}

nav{
    display: flex;
    flex-direction: column;
}

#homeBar{
    background-color: #c7b9ac;
    display: flex;
    height: 50px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

#logo{
    flex-grow: 2;
}

#logo a{
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    transition: border-bottom 0.3s;
}

#logo a:hover{
    border-bottom: 2px solid #ffa41b;
}

#homeSearch{
    flex-grow: 1;
    display: flex;
}

#homeSearch input{
    width: 100%;
    height: 28px;
    padding: 7px 10px 10px 0;
    margin: 0;
    line-height: 15px;
    color: #111;
    background-color: #f5f5f5;
    text-indent: 8px;
    font-size: 16px;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#homeSearch input:focus{
    outline: 0;
}

#homeSearch button{
    background-color: #e5e5e5;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 0.3s;
}

#homeSearch button:hover{
    background-color: #d2d2d2;
    transition: background-color 0.3s;
}

#homeSearch button:active{
    background-color: #e5e5e5;
}

#loginCart{
    flex-grow: 2;
    display: flex;
    padding-top: 5px;
    margin-left: 4em;
}

#loginCart a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-grow: 1;
}

#login{
    padding: 0;
    margin: 0;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s;
}

#login:hover{
    border-bottom: 2px solid #ffa41b;
}


#cart{
    padding: 0;
    margin: 0;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s;
}

#cart:hover{
    border-bottom: 2px solid #ffa41b;
}

#menu{
    flex-grow: 2;
    display: none;
    justify-content: end;
    padding-top: 0.4em;
    padding-right: 0.4em;
}

#menu button{
    background-color: #ffffff00;
    border: 0;
}

#menu img{
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s;
}

#menu img:hover{
    border-bottom: 2px solid #ffa41b;
}
