@media (min-width: 320px), (max-width: 320px){
    header{
        position: static;
    }

    #loginCart{
        display: none;
    }

    #menu{
        display: flex;
        justify-content: end;
    }

    #myTopnav{
        flex-direction: column;
    }

    .navigationHidden{
        display: none;
    }

    .loginCartMobile{
        display: flex;
    }

    .loginCartMobileHidden{
        display: none;
    }
}


@media (min-width: 480px){

    header{
        position: static;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: flex;
        justify-content: end;
    }

    #myTopnav{
        flex-direction: column;
    }

    .navigationHidden{
        display: none;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }
}

@media (min-width: 768px){

    header{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: none;
    }

    #myTopnav{
        flex-direction: row;
    }

    .navigationHidden{
        display: flex;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }

}

@media (min-width: 1024px){

    header{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: none;
    }

    #myTopnav{
        flex-direction: row;
    }

    .navigationHidden{
        display: flex;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }

}

@media (min-width: 1200px){

    header{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: none;
    }

    #myTopnav{
        flex-direction: row;
    }

    .navigationHidden{
        display: flex;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }
}