<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Filtro</title>
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/filter.css">
  </head>
  <body>
    <main>
      <div class="filterContainer">
        <h1>Resultados da Busca</h1>
        <div class="searchResults">
          <div class="filters">

            <div class="filterItem">
              <label for="sort">Ordenar por:</label>
              <select id="sort">
                <option value="relevance">Relevância</option>
                <option value="price-low">Preço (menor para maior)</option>
                <option value="price-high">Preço (maior para menor)</option>
              </select>
            </div>

            <div class="filterItem">
              <label for="category">Intensidade:</label>
              <select id="category">
                <option value="">Todas as categorias</option>
                <option value="Suave">Suave</option>
                <option value="Medio">Médio</option>
                <option value="Forte">Forte</option>
              </select>
            </div>

            <div class="filterItem">
              <label for="brand">Marca:</label>
              <select id="brand">
                <option value="">Todas as marcas</option>
                <option value="A">marca A</option>
                <option value="B">marca B</option>
                <option value="C">marca C</option>
              </select>
            </div>

          </div>
      </div>
      <div class="result">

      </div>
    </main>
  </body>
</html>
