<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>usuario</title>
    <link rel="stylesheet" href="../../css/tags/body.css">
    <link rel="stylesheet" href="../../css/content/login.css">
  </head>
  <body>
    <main>
      <div class="login">
        <div class="loginContainer">

          <span class="titleLogin">Login</span>
  
            <div class="emailLogin">
              <span>E-mail</span>
              <input type="email">
            </div>
  
  
            <div class="passwordLogin">
              <span>Senha</span>
              <input type="password">
            </div>
  
            <div>
              <button>Entrar</button>
            </div>
  
            <div class="haveAccountLogin">
              <span >Ainda não tem uma conta? <a href="#">Cadastre-se aqui.</a></span>
            </div>
  
        </div>
      </div>

    </main>
  </body>
</html>
