<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>usuario</title>
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/user.css">
  </head>
  <body>
    <main>
      <div class="user">
        <div class="userNavigation">
          <span>Minha conta</span>
          
          <a class="active" href="#">
            <span>Dados Pessoais</span>
          </a>
          <a href="#">
            <span>Segurança</span>
          </a>
          <a href="#">
            <span>Histórico de compras</span>
          </a>
          <a href="#">
            <span>Endereço</span>
          </a>    
        </div>

        <div class="myProfile">
          
        </div>
      </div>
    </main>
  </body>
</html>
