<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Histórico de compra</title>
    <link rel="stylesheet" href="../../css/tags/body.css">
    <link rel="stylesheet" href="../../css/content/user.css">
  </head>
  <body>
    <main>
      <div class="user">
        <div class="userNavigation">
          <span>Minha conta</span>
          
          <a href="#">
            <span>Dados Pessoais</span>
          </a>
          <a href="#">
            <span>Segurança</span>
          </a>
          <a class="active" href="#">
            <span>Histórico de compras</span>
          </a>
          <a href="#">
            <span>Endereço</span>
          </a>    
        </div>

        <div class="myProfile">

          <div class="personalData">
            
            <div class="imagePurchasesHistory">
              <img src="../../images/content/product/coffee1.jpg" alt="coffee1" width="150px" height="150px">
            </div>

            <div class="userDataPurchasesHistory">
              <div class="userPurchaseInformation">
                <span class="userItemPrimaryPurchases">24 de setembro de 2023</span>
                <span class="userItemPurchasesData"></span>
              </div>

              <div class="userPurchaseInformation">
                <span class="userItemPrimaryPurchases">Situação: </span>
                <span class="userItemPurchasesData">Entregue (Recebido no dia 14 de outubro de 2023)</span>
              </div>

              <div class="userPurchaseInformation">
                <span class="userItemPrimaryPurchases">Produto: </span>
                <span class="userItemPurchasesData">Café tradicional 500g</span>
              </div>

              <div class="userPurchaseInformation">
                <span class="userItemPrimaryPurchases">Quantidade: </span>
                <span class="userItemPurchasesData">10 Unidades</span>
              </div>

              <div class="userPurchaseDetails">
                <span class="userItemPrimaryPurchases">Detalhes da compra</span>
                <span class="userItemPurchasesData"></span>
              </div>

              <div class="userPurchaseDetails">
                <span class="userItemSecondaryPurchases">Valor do produto: </span>
                <span class="userItemPurchasesData">R$ 15,00</span>
              </div>

              <hr>
              
              <div class="userPurchaseDetails">
                <span class="userItemSecondaryPurchases">Valor do frete: </span>
                <span class="userItemPurchasesData">R$ 20,00</span>
              </div>

              <hr>
              
              <div class="userPurchaseDetails">
                <span class="userItemSecondaryPurchases">Valor do desconto: </span>
                <span class="userItemPurchasesData">R$ 10,00</span>
              </div>

              <hr>
              
              <div class="userPurchaseDetails">
                <span class="userItemSecondaryPurchases">Total da compra: </span>
                <span class="userItemPurchasesData">R$ 160,00</span>
              </div>
              
            </div>
            

          </div>
          <hr>
          
        </div>
      </div>
    </main>
  </body>
</html>
