<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Dados Pessoais</title>
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/user.css">
  </head>
  <body>
    <main>
      <div class="user">
        <div class="userNavigation">
          <span>Minha conta</span>
          
          <a class="active" href="#">
            <span>Dados Pessoais</span>
          </a>
          <a href="#">
            <span>Segurança</span>
          </a>
          <a href="#">
            <span>Histórico de compras</span>
          </a>
          <a href="#">
            <span>Endereço</span>
          </a>    
        </div>

        <div class="myProfile">

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">Nome completo</span>
              <span class="userItemSecondary">Fulano Fictício</span>
              <input class="userInput" type="text" placeholder="Digite seu nome completo...">
            </div>
            
            <div class="sideRight">
              <button>Corrigir</button>
            </div>
          </div>

          <hr>

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">E-mail</span>
              <span class="userItemSecondary">email@example.com</span>

            </div>
            
            <div class="sideRight">
              <button>Editar</button>
            </div>
          </div>

          <hr>

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">CPF</span>
              <span class="userItemSecondary">123.345.789-00</span>
              <input class="userInput" type="text" placeholder="Digite seu CPF, apenas números...">
            </div>
            
            <div class="sideRight">
              <button>Corrigir</button>
            </div>
          </div>

          <hr>

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">Endereço atual</span>
              <span class="userItemSecondary">{Rua ou avenida}, {Número}, {Cidade}, {CEP}.</span>
              
              <div class="changeAddress">

              </div>
            </div>
            
            <div class="sideRight">
              <button>Mudar</button>
            </div>
          </div>

        </div>
      </div>
    </main>
  </body>
</html>
