<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Segurança</title>
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/user.css">
  </head>
  <body>
    <main>
      <div class="user">
        <div class="userNavigation">
          <span>Minha conta</span>
          
          <a href="#">
            <span>Dados Pessoais</span>
          </a>
          <a class="active" href="#">
            <span>Segurança</span>
          </a>
          <a href="#">
            <span>Histórico de compras</span>
          </a>
          <a href="#">
            <span>Endereço</span>
          </a>     
        </div>

        <div class="myProfile">

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">Senha</span>
              <span class="userItemSecondary">***********</span>
              <input class="userInput" type="password" placeholder="Digite sua senha atual...">
              <input class="userInput" type="password" placeholder="Digite sua nova senha...">
              <input class="userInput" type="password" placeholder="Digite novamente...">
            </div>
            
            <div class="sideRight">
              <button>Alterar</button>
            </div>
          </div>

          <hr>

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">E-mail de recuperação de conta</span>
              <span class="userItemSecondary">email@example.com</span>
              <input class="userInput" type="email" placeholder="Digite um novo E-mail...">
              <input class="userInput" type="email" placeholder="Digite novamente...">
            </div>
            
            <div class="sideRight">
              <button>Alterar</button>
            </div>
          </div>

          <hr>

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">Telefone</span>
              <span class="userItemSecondary">(00) 13455-6789</span>
              <input class="userInput" type="text" placeholder="Digite um novo número...">
            </div>
            
            <div class="sideRight">
              <button>Alterar</button>
            </div>
          </div>
          
          </div>

        </div>
      </div>
    </main>
  </body>
</html>
