<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Endereço</title>
    <link rel="stylesheet" href="../../css/tags/body.css">
    <link rel="stylesheet" href="../../css/content/user.css">
  </head>
  <body>
    <main>
      <div class="user">
        <div class="userNavigation">
          <span>Minha conta</span>
          
          <a href="#">
            <span>Dados Pessoais</span>
          </a>
          <a href="#">
            <span>Segurança</span>
          </a>
          <a href="#">
            <span>Histórico de compras</span>
          </a>
          <a class="active" href="#">
            <span>Endereço</span>
          </a>     
        </div>

        <div class="myProfile">

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">Endereço atual</span>
              <span class="userItemSecondary">{Rua ou avenida}, {Número}, {Cidade}, {CEP}.</span>
              
              <div class="changeAddress">

              </div>
            </div>
            
            <div class="sideRight">
              <button>Mudar</button>
            </div>
          </div>
          <hr>

          <div class="personalData">
            <div class="sideLeft">
              <span class="userItemPrimary">Adicionar novo endereço</span>
              <span class="userItemAddress">Nome completo</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">CEP</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Estado</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Cidade</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Bairro</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Rua/Avenida</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Número</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Complemento (opcional)</span>
              <input class="userInput" type="text" placeholder="Digite...">
              <span class="userItemAddress">Telefone de contato</span>
              <input class="userInput" type="text" placeholder="Digite...">
            </div>
            
            <div class="sideRight">
              <button>Adicionar</button>
            </div>
          </div>

          </div>

        </div>
      </div>
    </main>
  </body>
</html>
