.categoryNavigation{
    display: flex;
    justify-content: space-evenly;
    background-color: #3f2700;
}

.categoryNavigationHidden{
  justify-content: space-evenly;
  background-color: #3f2700;
}

.column{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 5px;
}

.category{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  color: rgb(94, 236, 255);
}

.subcategory{
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.subcategoryName{
  padding: 10px;
  list-style-type: none;
}

.subcategory2{
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categoryName{
  list-style-type: none;
}


.categoryItem{
  background-color: #3f270000;
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s;
  transition: border-bottom 0.3s;
}

.categoryItem:hover{
  border-bottom: 2px solid #ffa41b;
  background-color: #3f270000;
}

.categoryItem a{
  text-decoration: none;
  color: greenyellow;
}