@media (min-width: 320px), (max-width: 320px){
/* Cabeçalho e navegação inicio ==================================================================== */
    header{
        position: static;
    }

    #loginCart{
        display: none;
    }

    #menu{
        display: flex;
        justify-content: end;
    }

    #myTopnav{
        flex-direction: column;
    }

    .categoryNavigationHidden{
        display: none;
    }

    .loginCartMobile{
        display: flex;
    }

    .loginCartMobileHidden{
        display: none;
    }

    .category{
        align-items: start;
    }

    .subcategory{
        background-color: #876939;
    }
/* Cabeçalho e navegação fim ==================================================================== */
}


@media (min-width: 480px){
/* Cabeçalho e navegação inicio ==================================================================== */
    header{
        position: static;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: flex;
        justify-content: end;
    }

    #myTopnav{
        flex-direction: column;
    }

    .categoryNavigationHidden{
        display: none;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }

    .category{
        align-items: start;
    }

    .subcategory{
        background-color: #876939;
    }
/* Cabeçalho e navegação fim ==================================================================== */
}

@media (min-width: 768px){
/* Cabeçalho e navegação inicio ==================================================================== */
    header{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: none;
    }

    #myTopnav{
        flex-direction: row;
    }

    .categoryNavigationHidden{
        display: flex;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }

    .category{
        align-items: center;
    }

    .subcategory{
        background-color: #87693900;
    }
/* Cabeçalho e navegação fim ==================================================================== */
}

@media (min-width: 1024px){
/* Cabeçalho e navegação inicio ==================================================================== */
    header{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: none;
    }

    #myTopnav{
        flex-direction: row;
    }

    .categoryNavigationHidden{
        display: flex;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }

    .category{
        align-items: center;
    }

    .subcategory{
        background-color: #87693900;
    }
/* Cabeçalho e navegação fim ==================================================================== */
}

@media (min-width: 1200px){
/* Cabeçalho e navegação inicio ==================================================================== */
    header{
        position: -webkit-sticky; /* Necessário para funcionar no Safari */
        position: sticky;
        top: 0;
    }

    #loginCart{
        display: flex;
    }

    #menu{
        display: none;
    }

    #myTopnav{
        flex-direction: row;
    }

    .categoryNavigationHidden{
        display: flex;
    }

    .loginCartMobile{
        display: none;
    }

    .loginCartMobileHidden{
        display: none;
    }

    .category{
        align-items: center;
    }

    .subcategory{
        background-color: #87693900;
    }
/* Cabeçalho e navegação fim ==================================================================== */
}